* {
    margin: 0;
    padding: 0;
}

.bg {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/01.png');
    background-position: center;
    background-size: cover;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 80%;
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
    background: rgba(4,9,30,1);
}

    nav img {
        width: 250px;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 10px 30px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
        }

        .nav-links ul li::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #063ef5;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%
        }

.webeditor {
    overflow: hidden;
    bottom: 0;
    width: 80%;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
    background: rgba(4,9,30,1);

}

    .webeditor p {        
        float: left;        
        color: #fff;        
        font-size: 25px;
    }

.webeditor-name {
    flex: 1;
    text-align: right;
    float: right;
    position :center;
}


.webeditor ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}

    .webeditor ul li p {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }
